  <!-- 打开文件 -->
  <div id="control">
    <div id="open" data-title="打开文件">添加底图<input type="file" value="选择图片" id="file" /></div>
    <div id="delCtrl" data-title="删除选中的元素">删除选中元素</div>
    <div id="dragmoveCtrl" data-title="拖动选中的元素">拖动选中的元素</div>
  </div>
  <!-- 控件列表 -->
  <div id="components">
    控件列表
    <div draggable="true"  data-title="值控件" data-tag="value">值控件(22321)</div>
    <div draggable="true"  data-title="开关控件" data-tag="state">开关控件</div>
    <div draggable="true"  data-title="单位控件" data-tag="unit">单位控件(kWh)</div>
    <div draggable="true"  data-title="标签控件" data-tag="label">标签控件(压力)</div>
  </div>

  <!-- 绘图区 -->
  <div class="wrapper">
    <span id="openFileButton">打开文件</span>
    <div class="box" id="box"></div>
  </div>

  <!-- 参数面板 -->
  <div class="paramPanel">
    <div class="paramInput"></div>
    <input type="button" id="input_submit" value="保存" />
  </div>
