<div id="label_block" style="display:none">
      <!-- 标签控件(名称) -->
      <label for="labelField">标签名称：</label>
      <input type="text" name="labelField" id="labelField" placeholder="标签名称" />
      <input type="button" id="label_submit" value="保存" />
</div>