  <!-- 打开文件 -->
<div id="control">
  <a id="open__cus" class="button is-active"  data-title="打开文件">
    <span class="icon is-small">
        <i class="fa fa-folder-open"></i>
    </span>
    <span>添加底图</span>
    <input type="file" value="选择图片" id="file_cus" />
  </a>
</a>

  <!-- 绘图区 -->
<div class="wrapper">
  <div class="box" id="box_cus"></div>
</div>