  <!-- 打开文件 -->
  <div >
    <div id="open__cus" data-title="打开文件">添加底图
      <input type="file" value="选择图片" id="file_cus" /></div>
  </div>

  <!-- 绘图区 -->
  <div class="wrapper">
    <div class="box" id="box_cus"></div>
  </div>