<div id="header_menu" class="header">
  
</div>
<!--
<div id="page_area"></div>-->

<div id="site-views" class="site-views">
    {{#each views}}
            <div class="site-view" data-page="{{@key}}"></div>
     {{/each}}
</div>

<a id="showMessage" class="button is-primary is-large modal-button" data-target="#modal" style="visibility:hidden;width:0;height:0"></a>

    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-container">
            <div class="modal-content">
                <!-- Any other Bulma elements you want -->
            </div>
        </div>
    <button class="modal-close"></button>
</div>

<div id="footer">by 能效通网络</div>
