<div id="header_menu" class="header">
  
</div>
<!--
<div id="page_area"></div>-->

<div id="site-views" class="site-views">
    {{#each views}}
            <div class="site-view" data-page="{{@key}}"></div>
     {{/each}}
</div>

